[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = "~=3.0.0"
djangorestframework = "~=3.14.0"
pip = "*"
install = "*"
django-allauth = "~=0.52.0"
pillow = "~=9.4.0"

[dev-packages]

[requires]
python_version = "3.11"
